/*------------------------------------------------------------
side
------------------------------------------------------------*/
.c-side {
	overflow: hidden;
	position: relative;
	height: 85vh;
}

/*
------------------------------------------------------------*/

.c-side1 {

	&__control {
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		z-index: 1;
		border-right: 1px solid;
		width: 54px;
		height: 100%;
	}

	&__btn {
		position: relative;
		width: 100%;
		height: 54px;
		cursor: pointer;
		transition: all .3s ease;

		&.is-active {
			transform: rotate(180deg);
		}

		span {
			position: absolute;
			width: 50%;
			height: 3px;
			background: #eee;
			top: 36%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: #eee;
			}

			&:before {
				top: 7px;
			}

			&:after {
				top: 14px;
			}
		}
	}

	&__menu {
		position: absolute;
		height: 100%;
		background: #222;
		left: -20%;
		transition: all .5s ease;
		padding: 50px 0 0;

		&.is-show {
			left: 54px;
		}
	}

	&__link {
		font-size: 1.6rem;
		color: #fff;
		padding: 10px 20px;
		display: block;
		letter-spacing: 1px;
		transition: all .25s ease;
		position: relative;


		&.extended {
			&:after {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-width: 0 2px 2px 0;
				border-style: solid;
				top: 50%;
				right: 15px;
				transform: translateY(-50%) rotate(-45deg);
				transition: all .3s ease;
			}
		}

		&.extended.is-rotate {
			&:after {
				top: 44%;
				right: 15px;
				transform: translateY(-50%) rotate(45deg);
			}
		}

		&:hover {
			color: #fff;
			opacity: 1;
			background: #363636;
		}

		&.is-active {
			border-left: 4px solid red;
			background: #000;

			&:hover {
				transition: none;
				opacity: 1;
				color: #fff;
			}

			&:after {
				transform: translateY(-50%) rotate(45deg);
			}
		}
	}

	&__list2 {
		display: none;
		padding: 0 0 20px 20px;
		background: #000;

		&-item {
			&>a {
				background: #222;
			}
		}
	}
}

/*
------------------------------------------------------------*/

.c-side2 {
	$root: &;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	transition: right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	right: -145px;

	&:hover {
		right: -33px;

		#{$root}__menu-inner {
			transform: translateX(-40px);
		}

		#{$root}__box2 {
			right: 0;
		}
	}

	&__box1,
	&__box2 {
		position: relative;
	}

	&__overlay {
		background: url(/assets/img/common/bg-side002.png) top left repeat;
		position: absolute;
		top: 5px;
		right: -5px;
		width: 100%;
		height: 100%;
		border-radius: 30px;
		background-size: 5px 5px;
		animation: bg .2s linear infinite;
	}

	@keyframes bg {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: 5px 0;
		}
	}

	&__menu {
		background: #ffe000;
		position: relative;
		border-radius: 30px;
		overflow: hidden;
		border: 2px solid #fff;

	}

	&__menu-inner {
		width: 100%;
		padding: 15px 0 15px 65px;
		cursor: pointer;
		transition: all .2s linear;
	}

	&__btn {
		position: absolute;
		top: 50%;
		left: 20px;

		&>div {
			width: 18px;
			height: 3px;
			background: #000;
			margin-bottom: 3px;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__link {
		font-size: 1.6rem;
		color: #000;
		padding: 3px 0 3px 20px;
		display: block;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background: #000;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: all .1s linear;
		}

		&:hover {
			&:before {
				width: 12px;
				height: 3px;
				border-radius: 3px;
				transform: translate(-3px, -50%);
			}
		}
	}

	&__box2 {
		margin-top: 10px;
		right: -60px;
		transition: all .3s ease-in-out;
	}

	&__box2-inner {
		position: relative;
		background: #fff;
		padding: 15px 26px;
		border-radius: 30px;
	}

	&__login {
		margin: 10px 0;
		font-size: 1.6rem;
		color: #000;
		display: block;

		span {
			width: 19px;
			height: 19px;
			display: inline-block;
			margin-right: 1px;
		}

		img {
			vertical-align: middle;
		}
	}


}


/*
------------------------------------------------------------*/
.c-side3 {
	width: 250px;
	background: #fff;

	&__logo {
		text-align: center;
		padding: 30px 20px;
	}

	&__item {
		position: relative;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__item-arrow {
		&:after {
			content: '';
			position: absolute;
			top: 20px;
			right: 18px;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 8px solid #b1262b;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 50px;
			width: 1px;
			height: 50px;
			background: rgba(0, 0, 0, .1);
		}
	}

	&__link {
		color: #8d7c5e;
		letter-spacing: 1px;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 50px;
		padding: 0 30px;
		display: block;

		&:before {
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			border-radius: 10px;
			overflow: hidden;
			background: rgba(192, 25, 32, 1);
			display: block;
			top: 50%;
			left: 14px;
			transform: translateY(-50%);
			opacity: 0;
			transition: all 0.3s;
		}

		&.is-active:before {
			opacity: 1;
		}
	}

	&__sub {
		background: #8d7c5e;
		display: none;
	}

	&__sub-item {

		.c-side3__link {
			color: #fff;

			&:before {
				content: none;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-side4 {
	$root: &;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f2fafd;
	width: 200px;
	border-left: 1px dotted #19a78e;

	&__list {
		&.is-close {
			.c-side4__wrap {
				backface-visibility: hidden;
				transform: translate(0, -100%) scale(1, 0);
			}

			.c-side4__sub {
				height: 0 !important;
				transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
				backface-visibility: hidden;
			}

			.c-side4__link:after {
				background: url(../../assets/img/common/ico-plus.svg) center center no-repeat;
				background-size: 8px;
			}
		}
	}

	&__logo {
		text-align: center;
		padding: 15px 0;
	}

	&__item {
		overflow: hidden;
		position: relative;
		z-index: 1;

		&.is-active {
			&>.c-side4__link:before {
				width: 18px;
				background-color: #fbb731;
			}

			&>.c-side4__link {
				color: #fbb731;
			}

			&>span {
				transform: translateX(-10px);
			}
		}
	}

	&__item-arrow {
		.c-side4__link {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				border: 2px solid #19a78e;
				border-radius: 50%;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%);
				background: url(../../assets/img/common/ico-minus.svg) center center no-repeat;
				background-size: 8px;
				z-index: 1;
			}
		}
	}

	&__wrap {
		transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		backface-visibility: hidden;
		transform-origin: 0 0;
		overflow: hidden;
		position: relative;
		z-index: -1;
	}

	&__sub {
		background: #FFF;
		padding-left: 18px;
		height: auto;
		transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		backface-visibility: hidden;
		backface-visibility: visible;
		scrollbar-width: thin;
	}

	&__sub-item {

		&:first-child {
			.c-side4__link {
				border-top: 0;
			}
		}

		.c-side4__link {
			display: flex;
			align-items: center;
			line-height: 1.3;
			font-size: 12px;
			letter-spacing: 0.04rem;
			position: relative;
			padding: 0 6px 0 18px;
			height: 40px;
			background: #FFF;

			&:hover {
				color: #fbb731;
			}

			&:hover:before {
				background-color: #fbb731;
			}

			&:before {
				width: 6px;
				height: 2px;
			}

			&:after {
				content: none;
			}

			span {
				padding: 0;
			}
		}
	}

	&__link {
		display: block;
		position: relative;
		text-decoration: none;
		font-size: 1.6rem;
		color: #19a78e;
		transition: all 0.2s;
		border-top: 1px dotted #19a78e;

		&:hover {
			background: #fff;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			width: 10px;
			height: 2px;
			background-color: #19a78e;
			transform: translate(0, -50%);
			transition: all 0.4s cubic-bezier(0, 0.7, 0, 1)
		}

		span {
			display: block;
			padding: 15px 30px 15px 36px;
			transition: transform 0.4s cubic-bezier(0.15, 0, 0, 1);
		}
	}
}

/*
------------------------------------------------------------*/
.c-side5 {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 200px;
	background-color: #fff;
	border-right: 1px solid #d7d7d6;
	overflow: initial;

	&__logo {
		text-align: center;
		padding: 38px 0;

		a {
			display: inline-block;
		}
	}

	&__item {
		text-transform: uppercase;
		text-align: center;
		font-size: 1.2rem;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 170px;
			height: 1px;
			background-color: #efefef;
			transform: translateX(-50%);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: -1px;
			width: 2px;
			height: 100%;
			background-color: #f6f6ed;
			opacity: 0;
			transition: all 0.4s ease;
		}

		a {
			display: block;
			width: 100%;
			padding: 14px 0;
			color: #273200;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 17px;
				border-width: 0 1px 1px 0;
				border-style: solid;
				border-color: #273200;
				width: 10px;
				height: 10px;
				transform: translateY(-50%) rotate(-45deg);
				opacity: 0;
				transition: all 0.4s ease;
			}

			&:hover:before {
				opacity: 1;
			}
		}
	}

	&__submenu {
		position: absolute;
		width: 0;
		height: 85vh;
		top: -478px;
		padding-top: 432px;
		left: 200px;
		background-color: #f6f6ed;
		transition: all .6s cubic-bezier(.6, 0, .2, 1);
		overflow: hidden;
	}

	&__subitem {
		position: relative;
		width: 200px;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 170px;
			height: 1px;
			background-color: #bcbcb5;
			transform: translateX(-50%);
			z-index: 1;
		}

		a {
			&:hover {
				background: transparent;
				opacity: 1;
			}

			&:before {
				opacity: 1;
			}
		}
	}

	.explore {

		&:hover {
			.c-side5__submenu {
				width: 200px;
			}

			&:after {
				opacity: 1;
			}

			&>a {
				background-color: #f6f6ed;

				&:before {
					opacity: 1;
				}
			}
		}

		.c-side5__subitem {
			a {

				&:hover {
					background: transparent;
					opacity: 1;
				}

				&:before {
					opacity: 1;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-side6 {
	width: 210px;
	margin: 0 0 0 auto;
	background: #0e376c;
	box-shadow: 0px 1px 7.5px 0px rgba(4, 0, 0, 0.1), 0px 5px 12.5px 0px rgba(4, 0, 0, 0.05);

	&__logo {
		a {
			background: #fff;
			padding: 50px 20px;
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	&__item {
		margin-bottom: 9px;

		a {
			display: block;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1px;
			padding: 6px 35px 6px 20px;
			position: relative;
			color: #fff;
			text-transform: uppercase;
			z-index: 3;
		}

		a:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 21px;
			height: 78%;
			background: #879bb6;
			transition: width 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
			width: 0;
			z-index: -1;
			transform: translateY(-50%);
		}

		a:after {
			content: '';
			width: 11px;
			height: 11px;
			background: url(../../assets/img/common/side006-arrow.svg) top center no-repeat;
			background-size: cover;
			position: absolute;
			top: 35%;
			right: 13px;
			transform-origin: center center 0px;
			transition: transform 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
		}

		a:hover:before {
			width: 12px;
		}

		a:hover:after {
			transform: matrix3d(1, 0, 0.00, 0, 0.00, -1, 0.00, 0, 0, 0, -1, 0, 5, 0, 0, 1);
		}
	}

	&__menu1 {
		padding: 5px 0;
	}

	&__menu2 a {
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 3px;
		padding: 4px 45px 4px 20px;
		position: relative;

		&:after {
			content: none;
		}
	}

	&__ttl {
		font-size: 10px;
		font-weight: 700;
		margin-bottom: 7px;
		letter-spacing: .1px;
		opacity: 0.5;
		padding: 5px 20px;
		color: #fff;
	}

	&__social {
		display: flex;
		justify-content: space-between;
		margin-right: 15px;

		li {
			display: inline-block;
		}

		a {
			padding: 0 2px;
		}

		a:hover {
			opacity: 1;
		}

		a:hover img {
			transform: rotateY(180deg);
		}

		img {
			transition: transform 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
		}
	}
}

/*
------------------------------------------------------------*/
.c-side7 {
	width: 475px;
	padding: 100px 50px;
    overflow: auto;
    background-color: #fff;
    position: relative;
    color: #aaa;
	margin-left: auto;
	
	&__btn {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 50px;
		height: 100px;
		width: 100px;
		text-align: center;
		display: block;
		line-height: 100px;
		cursor: pointer;

		div:first-child {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 25%;
			height: 2px;
			background: #999;
		}

		div:last-child {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			width: 25%;
			height: 2px;
			background: #999;
		}

		&:hover div {
			background: #c00 !important;
		}
	}

	&__lang {
		display: inline-block;
		z-index: 9;
		padding: 15px;

		ul {
			border: 1px solid #ccc;
			text-align: left;
			background: #fff;
			display: none;
			padding: 5px 0;

			a {
				white-space: nowrap;
				padding: 5px 15px;
				display: block;
			}

			&.is-show {
				display: block;
			}
		}
	}

	&__lang-ttl {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #999;
	}

	&__lang-btn {
		background: 0 0;
		padding: 0;
		border: none;
		margin-top: 5px;
		cursor: pointer;

		span {
			margin-right: 3px;
		}

		&:after {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			border-width: 0 2px 2px 0;
			border-style: solid;
			border-color: #999;
			transform: rotate(45deg);
		}
	}

	&__menu {
		margin-top: 10px;

		li {
			position: relative;
		}

		a {
			font-size: 36px;
			padding: 1px 0;
			text-transform: capitalize;
			color: #000;
			position: relative;
			display: block;

			&:hover, &.is-current {
				color: #ee5827;
			}
		}
	}

	&__icon {
		position: absolute;
		top: 3px;
		right: 0;
		z-index: 1;
		cursor: pointer;

		&:after {
			content: "+";
			font-size: 44px;
			font-weight: 100;
			margin: 10px;
			line-height: 1;
			color: #000;
		}

		&:hover:after {
			color: #ee5827;
		}

		&.is-active:after {
			content: "-";
			color: #ee5827;
			margin: 16px;
		}
	}

	&__submenu {
		padding-left: 20px;
		padding-top: 15px;
		padding-bottom: 10px;
		display: none;

		a {
			font-size: 24px;
			color: #000;
			line-height: 40px;
			display: block;
		}
	}
}