//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@mixin mincho() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}
@mixin nth-delays($n: 20, $delay: 50ms) {
    @for $i from 0 to $n {
        &:nth-of-type(#{$i + 1}) {
            transition-delay: $delay * $i + 50;
        }
    }
}

@mixin transition1($n: 20, $delay: 23ms) {
    @for $i from 0 to $n {
        &:nth-of-type(#{$i + 1}) {
            transition: .5s cubic-bezier(.215, .61, .355, 1) $delay;

		}
		$delay:  $delay + 3
    }
}

@mixin transition2($n: 20, $delay: 75ms) {
    @for $i from 0 to $n {
        &:nth-of-type(#{$i + 1}) {
			transition-delay: $delay;
			a{
				transition: transform .3s ease-out $delay;
			}
		}
		$delay:  $delay + 10
    }
}