/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-gl-title1 {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 15px 0;
	margin: 30px 30px 10px 20px;
	font-size: 1.2rem;
	font-weight: bold;
	&:first-child {
		margin-top: 0;
	}
}

/*
------------------------------------------------------------*/
.c-gl-title2 {
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 30px;
}
