/*------------------------------------------------------------
Global component - list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-gl-list1 {
	a {
		color: rgba(0, 0, 0, 0.87);
		display: block;
		padding: 12px 30px;
		font-size: 1.2rem;
		line-height: 1;
		&:hover {
			background-color: rgba(50, 50, 50, 0.06);
		}
	}
}
