/*------------------------------------------------------------

------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-font1 + .p-font1 {
	border-top: 1px solid #efefef;
	margin-top: 60px;
	padding-top: 60px;
}
.p-font1 {
	display: flex;
	&__img {
		width: 500px;
		img {
			border: 1px solid #efefef;
		}
	}
	&__text {
		margin-left: 50px;
		h1 {
			font-size: 1.4rem;
			margin-bottom: 2em;
		}
		p {
			line-height: 1.8;
		}
		strong {
			color: $color1;
		}
		ul {
			margin: 2em 0 4em 1.5em;
		}
		li {
			list-style-type: disc;
		}
		li + li {
			margin-top: 8px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-font2 {
	border-top: 1px solid #efefef;
	margin-top: 60px;
	padding-top: 60px;
	.table {
		$tmp: 25px;
		th,
		td {
			vertical-align: middle;
			padding-top: $tmp;
			padding-bottom: $tmp;
			line-height: 1.8;
		}
		img {
			border: 1px solid #efefef;
			display: block;
		}
		img + img {
			margin-top: 5px;
		}
		td {
		}
		ul {
			display: flex;
			flex-direction: column;
		}
		li {
			display: flex;
			align-items: center;
			.type {
				position: relative;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 1rem;
					line-height: 1;
					padding: 3px 5px;
					background: #000;
					color: #fff;
					line-height: 1.5;
				}
				&--1 {
					&:before {
						content: "Type-1:数か所だけこのフォントが使われている";
					}
				}
				&--2 {
					&:before {
						content: "Type-2:サイト全体でこのフォントが使われている";
					}
				}
				&:after {
					font-family: "Font Awesome 5 Free";
					content: "\f061";
					display: inline-block;
					font-weight: 900;
					margin-right: 30px;
					font-size: 18px;
					position: absolute;
					right: -65px;
					top: calc(50% - 10px);
				}
			}
			.way {
				margin-left: 60px;
			}
			img {
				width: 170px;
				height: auto;
			}
		}
		li + li {
			border-top: 1px solid #dbdbdb;
			padding-top: 20px;
			margin-top: 20px;
		}
		code {
			display: block;
			padding: 10px;
			font-size: 1.1rem;
			letter-spacing: 0;
			margin: 6px 0;
			border-radius: 3px;
			max-width: 500px;
		}
		a {
			text-decoration: underline;
		}
		.link1 {
			a {
				border: 1px solid　#EFEFEF;
				display: inline-block;
				line-height: 1;
				padding: 5px 8px;
				margin-top: 15px;
				font-size: 1rem;
			}
		}
	}
}
