/*------------------------------------------------------------
icon
------------------------------------------------------------*/
@font-face {
    font-family: 'audicons';
    src: url("/assets/fonts/audicons") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: iconfont;
    src: url(/assets/fonts/iconfont.eot?rev=EebIAexy);
	src: url(/assets/fonts/iconfont.eot?rev=EebIAexy#iefix) format("eot"), 
		url(/assets/fonts/iconfont.woff2?rev=x3oQJJfc) format("woff2"), 
		url(/assets/fonts/iconfont.woff?rev=1%252FTRQ6) format("woff");
}
[class^="audicon-"],
button i,
.button i,
.bs .cta i,
.bs .cta-white i,
.cta .icon,
.cta-white .icon,
.cta-secondary .icon,
.cta-secondary-white .icon,
[class*=" audicon-"] {
    font-family: 'audicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[class^="audicon-"]:after, 
button i:after, 
.button i:after, 
.bs .cta i:after, 
.bs .cta-white i:after, 
.cta .icon:after, 
.cta-white .icon:after, 
.cta-secondary .icon:after, 
.cta-secondary-white 
.icon:after, [class*=" audicon-"]:after {
    content: " ";
}
.audicon-car-magnifying-glass:before {
    content: "\e601"
}
.c-iconfont:before,
.c-iconfont:after {
	font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    font-family: iconfont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;
    text-transform: none;
    speak: none;
}
/*
------------------------------------------------------------*/
.c-icon1 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;

		&:nth-of-type(1) {
			top: 0;
		}

		&:nth-of-type(2) {
			top: 20px;
		}

		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				transform: translateY(-20px) rotate(45deg);
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon2 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;

		&:nth-of-type(1) {
			top: 0;
		}

		&:nth-of-type(2) {
			top: 20px;
		}

		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		transform: rotate(360deg);

		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}

			&:nth-of-type(2) {
				transform: translateY(0) rotate(45deg);
			}

			&:nth-of-type(3) {
				opacity: 0;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon3 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;

		&:nth-of-type(1) {
			top: 0;
		}

		&:nth-of-type(2) {
			top: 20px;
		}

		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}

			&:nth-of-type(2) {
				left: 50%;
				opacity: 0;
				animation: c-icon3-bar2 0.8s forwards;
			}

			&:nth-of-type(3) {
				transform: translateY(-20px) rotate(45deg);
			}
		}
	}

	// keyframes
	//--------------------------------------------------------
	@keyframes c-icon3-bar2 {
		100% {
			height: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon4 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;

		&:nth-of-type(1) {
			top: 0;
			animation: c-icon4-bar1 0.75s forwards;
		}

		&:nth-of-type(2) {
			top: 20px;
			transition: all 0.25s 0.25s;
			opacity: 1;
		}

		&:nth-of-type(3) {
			bottom: 0;
			animation: c-icon4-bar3 0.75s forwards;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				animation: c-icon4-bar1-active 0.75s forwards;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				animation: c-icon4-bar3-active 0.75s forwards;
			}
		}
	}

	// keyframes
	//--------------------------------------------------------
	@keyframes c-icon4-bar1 {
		0% {
			transform: translateY(20px) rotate(45deg);
		}

		50% {
			transform: translateY(20px) rotate(0);
		}

		100% {
			transform: translateY(0) rotate(0);
		}
	}

	@keyframes c-icon4-bar3 {
		0% {
			transform: translateY(-20px) rotate(-45deg);
		}

		50% {
			transform: translateY(-20px) rotate(0);
		}

		100% {
			transform: translateY(0) rotate(0);
		}
	}

	@keyframes c-icon4-bar1-active {
		0% {
			transform: translateY(0) rotate(0);
		}

		50% {
			transform: translateY(20px) rotate(0);
		}

		100% {
			transform: translateY(20px) rotate(45deg);
		}
	}

	@keyframes c-icon4-bar3-active {
		0% {
			transform: translateY(0) rotate(0);
		}

		50% {
			transform: translateY(-20px) rotate(0);
		}

		100% {
			transform: translateY(-20px) rotate(-45deg);
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon11 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;

	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}

	&:after {
		transform: rotate(90deg);
		opacity: 1;
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			opacity: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon12 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;

	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}

	&:after {
		transform-origin: center;
		transform: rotate(90deg);
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			transform: rotate(0deg);
			opacity: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon13 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;

	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}

	&:after {
		transform: rotate(90deg);
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			transform: rotate(0deg);
			opacity: 0;
			top: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon14 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
	cursor: pointer;

	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;

		&:nth-of-type(1) {
			top: 0;
		}

		&:nth-of-type(2) {
			top: 20px;
		}

		&:nth-of-type(3) {
			bottom: 0;
		}
	}
	
	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				opacity: 0;
			}

			&:nth-of-type(2) {
				transform: translateY(9px) rotate(45deg);
			}

			&:nth-of-type(3) {
				transform: translateY(-11px) rotate(-45deg);
			}
		}
	}
}

/* .c-icon15
------------------------------------------------------------*/
.c-icon15 {
	position: relative;
    width: 50px;
    height: 44px;
	cursor: pointer;
	top: 15px;
	span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #000;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .5s cubic-bezier(.04,.435,.315,.9);
		opacity: 1;
		backface-visibility: hidden;
		&:first-child {
			transform: translate(0,0) rotate(0deg);
		}
		&:last-child {
			transform: translate(0,10px) rotate(0deg);
		}
	}
	&:hover {
		span {
			&:first-child {
				transform: translate(0,-3px) rotate(0deg);
			}
			&:last-child {
				transform: translate(0,13px) rotate(0deg);
			}
		}
	}
	&.is-active {
		span {
			&:first-child {
				transform: translate(0,0) rotate(135deg);
			}
			&:last-child {
				transform: translate(0,0) rotate(-135deg);
			}
		}
	}
}

/* .c-iNew1
------------------------------------------------------------*/
.c-iNew1 {
	$root: &;
	position: relative;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	transition: transform .6s cubic-bezier(.215,.61,.355,1);
	cursor: pointer;

	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		opacity: 0;
		border-radius: 50%;
	}
	
	&:before {
		left: -1px;
		top: -1px;
		width: 46px;
		height: 46px;
		border: 4px solid #b4b4b4;
		box-sizing: border-box;
		transform: scale(1.4);
		transition: transform .6s cubic-bezier(.645,.045,.355,1), opacity .6s cubic-bezier(.645,.045,.355,1)
	}

	&:after {
		width: 48px;
		height: 48px;
		background-color: #dc0032;
		left: -2px;
		top: -2px;
		transform: scale(1);
		transition: transform .4s cubic-bezier(.645,.045,.355,1);
	}

	&:hover {
		&:before {
			transform: scale(1);
			opacity: 1;
			transition: transform .6s cubic-bezier(.215,.61,.355,1), opacity .6s cubic-bezier(.215,.61,.355,1);
		}

		&:after {
			transform: scale(0);
			transition: transform .4s cubic-bezier(.645,.045,.355,1);
		}
	}

	&.is-active {
		#{$root}__iconHamburger{
			transform: translate3d(-50%,-50%,0) rotate(90deg) scaleX(0);
		}

		#{$root}__iconMenuClose{
			transform: translate3d(-50%,-50%,0) rotate(0) scale(1);
		}
	}

	&__iconHamburger {
		width: 14px;
		height: 20px;
		transform: translate3d(-50%,-50%,0) rotate(0) scaleX(1);
		transition: transform .4s cubic-bezier(.645,.045,.355,1);
		position: absolute;
		top: 50%;
		left: 50%;

		svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: #dc0032;
		}
	}

	&__iconMenuClose {
		width: 14px;
		height: 14px;
		transform: translate3d(-50%,-50%,0) rotate(-90deg) scale(0);
		transition: transform .2s cubic-bezier(.215,.61,.355,1) .2s;
		position: absolute;
		top: 50%;
		left: 50%;

		svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: #dc0032;
		}
	}
}

/* .c-iNew2
------------------------------------------------------------*/
.c-iNew2 {
	position: relative;
    z-index: 9999;
    width: 30px;
    height: 22px;
    right: 0px;
    top: 0px;
    cursor: pointer;
	transition: all .4s;
	box-sizing: border-box;

	&:hover {
		span {
			&:nth-child(1n) {
				width: 100%;
				margin: 0px;
				left: 0%;
			}
		}
	}

	&.is-active {
		span {
			&:nth-child(1) {
				transform: translateY(8px) rotate(-315deg);
    			transition: 300ms;
			}

			&:nth-child(2) {
				opacity: 0;
				width: 0%;
				transition: 300ms;
			}

			&:nth-child(3) {
				transform: translateY(-12px) rotate(315deg);
				width: 100%;
				margin: 0px;
				bottom: 1px;
				transition: 300ms;
			}

			&:nth-child(4) {
				opacity: 0;
				width: 0%;
				transition: 200ms;
			}
		}
	}

	span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #fff;
		border-radius: 4px;
		transition: 200ms;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 7px;
			width: 140%;
			left: -60%;
		}

		&:nth-child(3) {
			bottom: 7px;
		}

		&:nth-child(4) {
			bottom: 0;
			width: 70%;
			margin-left: 30%;
		}
	}
}

/* .c-iNew3
------------------------------------------------------------*/
@keyframes scroll {
    0% {
        top: -20px
    }
    100% {
        top: 20px
    }
}

.c-iNew3 {
	position: relative;
    z-index: 10;
    color: #FFF;
    width: 60px;
    height: 80px;
    overflow: hidden;
	cursor: pointer;
	
	&:before {
		content: "";
		position: absolute;
		left: 17.5px;
		top: 8px;
		width: 25px;
		height: 40px;
		border: 2px solid #fff;
		border-radius: 10px;
	}

	&__bar {
		position: absolute;
		left: 28.5px;
		top: 0px;
		height: 20px;
		width: 100%;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 20px;
			background: #FFF;
			animation: scroll 1.5s ease-in-out infinite 0.5s;
			animation-fill-mode: both;
		}
	}

	&__txt {
		position: absolute;
		width: 60px;
		text-align: center;
		left: 0;
		bottom: 0;
		white-space: nowrap;
	}
}

/* .c-iNew4
------------------------------------------------------------*/
@keyframes hoverLink {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: hidden
    }
    50% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: hidden
    }
    52% {
        visibility: visible
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes hoverLink2 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    49% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: hidden
    }
    50% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: hidden
    }
    52% {
        visibility: visible
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

.c-iNew4 {
	$root: &;
	width: 50px;
    height: 30px;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		#{$root}__child {
			&:nth-child(1) {
				span {
					animation: hoverLink 0.5s cubic-bezier(0.645, 0.045, 0.175, 1)
				}
			}

			&:nth-child(2) {
				span {
					animation: hoverLink2 0.5s cubic-bezier(0.645, 0.045, 0.175, 1)
				}
			}
		}
	}

	&.is-active {
		#{$root}__child {
			&:nth-child(1) {
				transform: rotate(45deg) translate(0, 10px);
			}

			&:nth-child(2) {
				transform: rotate(-45deg) translate(0, -10px)
			}
		}
	}
	
	&__inner {
		width: 100%;
		height: 18px;
		position: relative;
	}

	&__child {
		position: absolute;
		width: 100%;
		height: 3px;
		transform-origin: 50%;
		overflow: hidden;

		&:nth-child(1) {
			left: 0;
			top: 0;
			transition: transform 0.5s .1s;
		}

		&:nth-child(2) {
			left: 0;
			bottom: 0;
			transition: transform 0.5s .1s;
		}

		span {
			display: block;
			width: 100%;
			height: 100%;
			background: #000;
			transition: background-color 0.5s .1s
		}
	}
}

/* .c-iNew5
------------------------------------------------------------*/
@keyframes hoverBlink {
    0% {
        opacity: 1
    }
    15% {
        opacity: .2
    }
    100% {
        opacity: 1
    }
}

@keyframes tranformsIcon {
	0% {

	}
}

.c-iNew5 {
	width: 50px;
	height: 50px;
	transform: translate3d(0,0,0);
	cursor: pointer;

	&:hover {
		span {
			animation: hoverBlink .6s ease-out;
			animation-fill-mode: both;
		}
	}

	&.z {
		span {
			background: #808080;

			&:nth-child(2) {
				transform: scale(1.2, 1) rotate(-36deg)
			}
		}
	}

	&.is-active {
		span {
			background: #fff;
			transition: all .4s cubic-bezier(.77, 0, .175, 1);

			&:nth-child(1) {
				transform: scale(0, 1)
			}

			&:nth-child(2) {
				transform: scale(1, 1) rotate(-45deg)
			}

			&:nth-child(3) {
				transform: translate(0, -8px) scale(1, 1) rotate(45deg)
			}
		}
	}

	span {
		position: absolute;
		left: 12px;
		width: 26px;
		height: 2px;
		background: #fff;
		transition: all .2s cubic-bezier(.165,.84,.44,1);

		&:nth-child(1) {
			top: 15px;
			transform-origin: right top;
		}

		&:nth-child(2) {
			top: 23px;
		}
		
		&:nth-child(3) {
			top: 31px;
		}
	}
}

/* .c-iNew6
------------------------------------------------------------*/
.c-iNew6 {
	ul {
		display: flex;
		align-items: center;
	}

	li {
		font-size: 1rem;
		line-height: 2.2;

		&:not(:last-child) {
			margin-right: 26px;
		}

		&.mypage {
			a {
				padding-left: 28px;
				background: url(/assets/img/common/i_user.png) no-repeat 0 0;
				background-size: 20px auto;
			}
		}

		&.cart {
			position: relative;

			a {
				padding-left: 32px;
				background: url(/assets/img/common/i_cart.png) no-repeat 0 0;
				background-size: 24px auto;
			}

			span {
				font-size: 0.8rem;
				font-weight: bold;
				position: absolute;
				top: -6px;
				left: 13px;
				display: block;
				width: 14px;
				height: 14px;
				text-align: center;
				color: #fff;
				border-radius: 7px;
				background-color: #aa823a;
			}
		}
	}

	a {
		color: #333;
		display: block;
	}
}

/* .c-iNew7
------------------------------------------------------------*/
.c-iNew7 { 
	&__facebook {
		position: relative;
		padding-left: 25px;
		margin-bottom: 10px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -10px;
			display: block;
			width: 20px;
			height: 20px;
			background: url(/assets/img/common/i_facebook.svg) no-repeat;
			background-size: contain;
		}
	}

	&__instagram {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		span {
			position: relative;
			padding-left: 25px;
			display: inline-block;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;
				display: block;
				width: 20px;
				height: 20px;
				background: url(/assets/img/common/i_insta.svg) no-repeat;
				background-size: contain;
			}

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}

	a {
		font-family: "メイリオ", "Meiryo", sans-serif;
		color: #313934;
		font-size: 1.2rem;
	}
}

/* .c-iNew8
------------------------------------------------------------*/
.c-iNew8 {
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	li {
		font-size: 1.15rem;

		&:not(:last-child) {
			margin: 0 1em 0 0;
		}
	}

	&__home {
		background: url(/assets/img/common/i_home.jpg) left center no-repeat;
	}

	&__sitemap {
		background: url(/assets/img/common/i_sitemap.jpg) left center no-repeat;
	}

	&__accessmap {
		background: url(/assets/img/common/i_accessmap.jpg) left center no-repeat;
	}

	&__privacy {
		background: url(/assets/img/common/i_privacy.jpg) left center no-repeat;
	}

	a {
		padding: 0.5em 0 0.5em 2em;
		color: #3d3d3d;
	}
}

/* .c-iNew9
------------------------------------------------------------*/
.c-iNew9 {
	i {
		margin-right: 0.625em;
	}

	a {
		font-size: 1.1rem;
		color: #9e9e9e;
		text-transform: uppercase;
		display: block;
		line-height: 3.0909090909em;
		font-family: 'Carisma', sans-serif;
	}
}

/* .c-iNew10
------------------------------------------------------------*/
.c-iNew10 {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	li {
		padding: 0 15px;
	}

	&__title {
		font-size: 1.2rem;
		line-height: 180%;
		font-weight: bold;
		border-bottom: 1px solid #666;
		padding-bottom: 10px;
		color: #aaa;
		letter-spacing: 0.05em;
		font-family: "Voltaire", sans-serif;

		i {
			font-size: 1.6rem;
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
	}
}

/* .c-iNew11
------------------------------------------------------------*/
.c-iNew11 {
	ul {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	li{
		width: 33.333%;
		padding: 0 10px;
		display: flex;
		align-items: center;
	}

	&__txt{
		padding-left: 20px;
		font-size: 1.6rem;
		color: #355641;
		font-weight: bold;
	}
}

/* .c-iNew12
------------------------------------------------------------*/
.c-iNew12 {
	&__icons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			padding-right: 16px;
		}

		&--01 {
			a {
				&:after {
					background-image: url(/assets/img/common/i_social01.png);
					background-size: 63px 64px;
				}
			}
		}

		&--02 {
			a {
				&:after {
					background-image: url(/assets/img/common/i_social02.png);
					background-size: 88px 64px;
				}
			}
		}

		&--03 {
			a {
				&:after {
					background-image: url(/assets/img/common/i_social03.png);
					background-size: contain;
				}
			}
		}

		&--04 {
			a {
				&:after {
					background-image: url(/assets/img/common/i_social04.png);
					background-size: contain;
				}
			}
		}

		&--05 {
			a {
				&:after {
					background-image: url(/assets/img/common/i_social05.png);
					background-size: contain;
				}
			}
		}
	}

	a {
		display: flex;
		align-items: flex-end;
		color: #333;
		font-size: 1rem;
		font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Sans","Hiragino Kaku Gothic ProN","Yu Gothic",Meiryo,sans-serif;

		&:hover {
			color: red;
		}

		&:after {
			content: "";
			width: 32px;
			height: 32px;
			margin-left: 6px;
			background-repeat: no-repeat;
			background-position: right 0 top 0;
		}
	}
}

/* .c-iNew13
------------------------------------------------------------*/
.c-iNew13 {
	$root: &;

	&__link {
		text-align: center;
		padding: 10px 0;
		display: block;

		&:not(:last-child) {
			margin-block: 30px;
		}

		&--01 {
			#{$root}__icon {
				width: 24px;
				height: 36px;
			}
		}

		&--02 {
			#{$root}__icon {    
				width: 32px;
				height: 21px;
			}
		}

		&--03 {
			#{$root}__icon {    
				width: 21px;
				height: 35px;
			}
		}
	}

	&__icon {
    	margin: 0 auto;
		display: block;
	}

	&__text {
		padding-top: 12px;
		line-height: 1.4;
		font-size: 1.2rem;
		color: #009fe7;
		display: block;
		font-family: "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN", Sans-Serif;
	}
}

/* .c-iNew14
------------------------------------------------------------*/
.c-iNew14 {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	li {
		text-align: center;
	}

	a {
		display: block;
	}

	&__image {
		width: 50px;
		margin: 0 auto 15px;
		height: auto;
	}

	&__text {
		font-size: 1.4rem;
		color: #101010;
		line-height: 1.2em;
		display: block;
	}
}

/* .c-iNew15
------------------------------------------------------------*/
.c-iNew15 {
	$root: &;

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -4px;
	}

	&__item {
		padding: 0 4px;

		&--01 {
			width: 52.36%;

			a {
				i {
					background: url(/assets/img/common/i_tw_bg.png) no-repeat center;
				}
			}
		}

		&--02 {
			width: 47.64%;

			a {
				i {
					background: url(/assets/img/common/i_fb_bg.png) no-repeat center;
				}
			}
		}
	}

	a {
		color: #9d9d9d;
		display: flex;
		align-items: center;
		text-align: center;
		border: 1px solid #828282;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: 'dinliga-light', 'lucida-grande', Tahoma, Verdana;

		&:hover {
			color: #fff;
			border-color: #fff;

			i {
				border-color: #fff;
			}
		}

		span {
			padding-right: 16px;
			display: block;
			padding: 0px 15px;
			width: calc(100% - 39px);
		}

		i {
			width: 39px;
			height: 42px;
			border-left: 1px dotted #828282;
		}
	}
}

/* .c-iNew16
------------------------------------------------------------*/
.c-iNew16 {
	&__link {
		font-size: 1.4rem;
		line-height: 1.35;
		font-family: AudiTypeExtended;
		font-weight: bold;
		color: #000;

		i {
			display: inline-block;
			font-size: 1.5em;
			padding: .313em;
			margin-right: .313em;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

/* .c-iNew17
------------------------------------------------------------*/
.c-iNew17 {
	li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	a {
		font-size: 1.3rem;
		line-height: 1.4;
		color: #fff;

		&:after {
			content: "";
			display: inline-block;
			background-image: url(/assets/img/common/outlink_icon.png);
			background-repeat: no-repeat;
			width: 16px;
			height: 13px;
			vertical-align: middle;
			margin-left: 3px;
		}

		img {
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

/* .c-iNew18
------------------------------------------------------------*/
.c-iNew18 {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			padding-right: 80px;
		}

		&--01 {
			a {
				&:before {
					background-position: -672px -522px;
				}
			}
		}

		&--02 {
			a {
				&:before {
					background-position: -717px -522px;
				}
			}
		}

		&--03 {
			a {
				&:before {
					background-position: -762px -522px;
				}
			}
		}
	}

	a {
		text-shadow: 0 1px 2px #000;
		color: #ccc;
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		padding-left: 47px;
		line-height: 2.1;
		position: relative;

		&:before {
			content: "";
			width: 35px;
			height: 35px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background-image: url(/assets/img/common/icn_sprite.svg);
		}
	}

	&__iblank {
		margin-left: 5px;
	}
}

/* .c-iNew19
------------------------------------------------------------*/
.c-iNew19 {
	a {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		width: 139px;
		height: 139px;
		border: 1px solid #ddd;
	}

	&__icon {
		fill: #f29437;
		width: 40px;
		height: 40px;
		margin-bottom: 18px;
		display: block;
	}

	&__txt {
		color: #323232;
		font-size: 1.4rem;
		font-family: "FOT-ニューセザンヌ Pro M";
		text-align: center;
		display: block;
		width: 100%;
	}
}

/* .c-iNew20
------------------------------------------------------------*/
.c-iNew20 {
	&__link {
		display: block;
		padding: 15px 5px;
		background-color: #fff;
		line-height: 1.3em;
		font-size: 1.4rem;
		color: #00467e;
		text-align: center;
	}

	&__img {
		margin-bottom: 5px;
		display: block;
		text-align: center;

		img {
			width: 30px;
		}
	}
}

/* .c-iNew21
------------------------------------------------------------*/
.c-iNew21 {
	$root: &;

	li {
		padding: 10px 0;
	}

	a {
		display: flex;
		align-items: center;

		&:hover {
			#{$root}__txt {
				text-decoration: underline;
			}
		}
	}

	&__img {
		padding-right: 12px;
		width: 29px;
	}

	&__txt {
		color: #00467e;
		font-size: 1.4rem;

		&:after {
			content: "";
			display: inline-block;
			background: url(/assets/img/common/icon_link_blank.png) no-repeat right;
			background-size: contain;
			height: 12px;
			width: 16px;
		}
	}
}

/* .c-iNew22
------------------------------------------------------------*/
.c-iNew22 {
	background: url(/assets/img/common/icon_category.png) #728cc7 no-repeat 7px center;
	background-size: 38px auto;
	padding: 15px 10px 15px 60px;
	font-weight: bold;
	color: #fff;

	&__name {
		font-size: 1.6rem;
		margin-bottom: 12px;
		line-height: 1;
	}

	&__field {
		font-size: 1.2rem;
		line-height: 1;
	}
}

/* .c-iNew23
------------------------------------------------------------*/
.c-iNew23 {
	position: relative;

	&:before {
		font-size: 2.2rem;
		position: absolute;
		top: 50%;
		left: 16px;
		color: #d6001d;
		z-index: 110;
		margin-top: -.6em;
	}

	&.is-fda {
		&:before {
			content: "\E945";
			font-size: 2.2rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		position: relative;
		background-color: #fff;
		padding: 0 9px 0 49px;
		height: 73px;
		line-height: 1.3;
		color: #363b3f;
	}

	&__label {
		font-size: 1.3rem;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;
	}
}

/* .c-iNew24
------------------------------------------------------------*/
.c-iNew24 {
	&__link {
		display: flex;
		align-items: center;
		color: #363b3f;
		font-family: 1.2rem;
		position: relative;

		&:before {
			content: "";
			background: #3b57a1;
			display: inline-block;
			width: 21px;
			height: 21px;
			line-height: 21px;
			margin-right: 8px;
			border-radius: 50%;
			color: #fff;
			font-size: 11px;
			text-align: center;
		}

		&:after {
			position: absolute;
			top: 50%;
			right: 5px;
			display: inline-block;
			margin-top: -.55em;
			content: "";
			font-size: 10px;
			transform: scale(.8);
			color: #999;
		}
	}
}

/* .c-iNew25
------------------------------------------------------------*/
.c-iNew25 {
	&__list {
		display: flex;
		align-items: center;
	}

	li {
		text-align: center;
		padding: 0 5px;

		&:not(:last-child) {
			border-right: 1px solid #ccc;
		}
	}

	a {
		color: #001b2d;
		font-weight: bold;

		&:hover {
			color: #0068b7;
		}
	}
}

/* .c-iNew26
------------------------------------------------------------*/
.c-iNew26 {
	$root: &;

	a {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: #fff;
		font-size: 1.3rem;

		&:after {
			content: attr(data-hover);
			color: #fff;
			display: none;
			padding-left: 13px;
			opacity: 0;
			width: calc(100% - 25%);
		}

		&:hover, &:focus {
			&:after {
				opacity: 1;
				display: block;
			}

			#{$root}__title {
				display: none;
				opacity: 0;
			}
		}
	}

	&__img {
		width: 25%;

		img {
			width: 100%;
		}
	}

	&__title {
		padding-left: 13px;
		width: calc(100% - 25%);
	}
}

/* .c-iNew27
------------------------------------------------------------*/
.c-iNew27 {
	&__link {
		width: 234px;
		height: 38px;
		display: block;
		background: url(/assets/img/common/nav_global_sprite.png) -744px top no-repeat;

		span {
			visibility: hidden;
		}
	}
}

/* .c-iNew28
------------------------------------------------------------*/
.i {
	display: inline-block;
    text-indent: -9999px;
	vertical-align: middle;
	background-image: url(/assets/img/common/footer_icon_sprite.png);
    background-repeat: no-repeat;
}
.i-price {
    background-position: 0 -398px;
}

.c-iNew28 {
	a {
		color: #333;
		display: flex;
		align-items: center;
		height: 44px;
		background-color: #fff;
		overflow: hidden;
	}

	&__icon {
		width: 44px;
    	height: 44px;
	}

	&__text {
		width: calc(100% - 44px);
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		font-family: "ヒラギノ角ゴ ProN W3",メイリオ , Meiryo,"MS UI Gothic", Tahoma, "Lucida Grande", "ヒラギノ丸ゴ Pro W4", sans-serif;

		&:before {
			content: "";
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left:4px solid #ca0000;
			padding-right: 6px;
		}
	}
}

/* .c-iNew29
------------------------------------------------------------*/
.c-iNew29 {
	&__link {
		width: 163px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		display: block;
	}

	p {
		background-color: #C7B925;
		padding: 5px 0;
		font-size: 1.4rem;
	}

	div {
		padding: 15px;
		height: 74px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #F7F5DF;
	}
}

/* .c-iNew30
------------------------------------------------------------*/
.c-iNew30 {
	&__link {
		font-size: 1.6rem;
		display: block;
		background: url(/assets/img/common/icon_relevant-links_01.png) no-repeat 22px 50%;
    	background-size: 26px 24px;
		padding: 21px 60px 21px 71px;
		color: #fff;
	}

	span {
		position: relative;
		padding-right: 60px;
		display: block;

		&:after {
			content:""; 
			transform: rotate(-45deg);
			border: solid #fff;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 4px;
			position: absolute;			
			top: 7px;
			right: 22px;
		}
	}
}