/*------------------------------------------------------------
setup
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-setup {
	h1 {
		font-size: 1.8rem;
		i {
			margin-right: 10px;
			font-size: 2.2rem;
			color: #23d160;
		}
	}
	h2 {
		font-size: 1.4rem;
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		margin-top: 4px;
	}
	textarea {
		margin-top: 8px;
		width: 50%;
		padding: 5px;
		line-height: 1.5;
		height: 3em;
	}
}

/*
------------------------------------------------------------*/
.p-setup1 {
}

/*
------------------------------------------------------------*/
.p-setup2 {
	margin-top: 50px;
	padding-top: 50px;
	border-top: 1px solid #ccc;

	p {
		margin-top: 15px;
		line-height: 1.8;
	}

	img {
		width: 400px;
		height: auto;
		margin-top: 20px;
	}
}

/*
------------------------------------------------------------*/
.p-setup3 {
	margin-top: 50px;
	padding-top: 50px;
	border-top: 1px solid #ccc;
	p {
		margin-top: 15px;
	}
	img {
		max-width: 1000px;
		height: auto;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}
